.pd-switch {
  position: relative;
  height: 18px;
  transition: background 0.2s;
  width: var(--switch-width);
  background: var(--inactive-color);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
.pd-switch .pd-switch__input {
  position: relative;
  z-index: 1;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.pd-switch .pd-switch_action {
  position: absolute;
  transition: 0.2s;
  left: 2px;
  top: 2px;
  z-index: 0;
  height: 14px;
  width: 14px;
  background: #fff;
  border-radius: 50%;
}
.pd-switch.is-checked {
  background: var(--active-color);
}
.pd-switch.is-checked .pd-switch_action {
  left: 100%;
  background: #fff;
  margin-left: -16px;
}
.pd-switch.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.inactive-text {
  font-size: 14px;
  vertical-align: middle;
  margin-right: 1%;
  cursor: pointer;
}
.active-text {
  font-size: 14px;
  vertical-align: middle;
  margin-left: 1%;
  cursor: pointer;
}
.selected-text-color {
  color: var(--text-color);
}
