@import './var';

@keyframes so-slide-up-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes so-slide-up-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes so-slide-down-enter {
  from {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes so-slide-down-leave {
  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes so-slide-left-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes so-slide-left-leave {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes so-slide-right-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes so-slide-right-leave {
  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes so-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes so-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes so-swing-top-in {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes so-swing-top-out {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
  100% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
}

@keyframes so-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.so-fade {
  &-enter-active {
    animation: so-fade-in $animation-duration-base both
      $animation-timing-function-enter;
  }

  &-leave-active {
    animation: so-fade-out $animation-duration-base both
      $animation-timing-function-leave;
  }
}

.so-slide-up {
  &-enter-active {
    animation: so-slide-up-enter $animation-duration-base both
      $animation-timing-function-enter;
  }

  &-leave-active {
    animation: so-slide-up-leave $animation-duration-base both
      $animation-timing-function-leave;
  }
}

.so-slide-down {
  &-enter-active {
    animation: so-slide-down-enter $animation-duration-base both
      $animation-timing-function-enter;
  }

  &-leave-active {
    animation: so-slide-down-leave $animation-duration-base both
      $animation-timing-function-leave;
  }
}

.so-slide-left {
  &-enter-active {
    animation: so-slide-left-enter $animation-duration-base both
      $animation-timing-function-enter;
  }

  &-leave-active {
    animation: so-slide-left-leave $animation-duration-base both
      $animation-timing-function-leave;
  }
}

.so-slide-right {
  &-enter-active {
    animation: so-slide-right-enter $animation-duration-base both
      $animation-timing-function-enter;
  }

  &-leave-active {
    animation: so-slide-right-leave $animation-duration-base both
      $animation-timing-function-leave;
  }
}

.so-swing-top {
  &-enter-active {
    animation: so-swing-top-in $animation-duration-base both
      cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &-leave-active {
    animation: so-swing-top-out $animation-duration-base both
      cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
}
